@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #efeded;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-track-color: aqua;
}
html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  scrollbar-width: thin;
  overflow-x: hidden;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }
}

